.message {
    h1{
        color: #000;
    }

    hr { 
        display: block; 
        height: 1px;
        border: 0; 
        border-top: 4px solid rgb(0, 0, 0);
        width: 70%;
        opacity: 1;
        margin-left: 240px;
        padding: 0;
      }

      .card{
        background-color: dimgrey;
        height: fit-content;
        display: flex;
        box-shadow: none;
        border: 1px solid black;
        width: 96%;
        color:white;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
}