.head{
    margin-bottom: 56px ;
    .navbar{
        background-color:  #66BFBF !important ;
        font-weight: 500;
    }

    .btn{
        border: None;
    }

    .btn-primary {
        background-color: transparent;
    }


    .btn-primary:hover {
        color: grey;
    }
}

.offcanvas {
    background-color: #EAF6F6;
}